<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="wrapper kopa-shadow">
            <div class="row-fluid">
                {% include header.html %}
                <div id="main-content">
                    <div class="home">
                        <div id="main-col">
                            {{ content }}
                        </div>
                        <div class="widget-area-3 sidebar">
                            {% include sidebar.html %}
                        </div>
                        <div class="clear"></div>
                    </div>

                </div>
                {% include footer.html %}
            </div>
        </div>
    </body>
</html>