<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="wrapper kopa-shadow">
            <div class="row-fluid">
                {% include header.html %}
                <div id="main-content">
                    {{ content }}
                </div>
                {% include footer.html %}
            </div>
        </div>
    </body>
</html>